@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*sehifenin demo gorunusu*/
p{
    font-family: Roboto;
}
.header p{
    font-family: Roboto Slab;
    font-weight: 700;
}
.main{
    display: flex;
}
.main p{
    font-weight: 400;
}
.footer{
    display: flex;
}
td{
    font-family: Roboto;
    font-weight: 400;
}

/*desktop*/
@media(min-width:1400px){
    .header{
        font-size: 55px;
        padding: 91px 951px 18px 124px;
    }
    .main p{
        font-size: 24px;
        padding: 18px 190px 164px 124px;
    }
    .main img{
        padding: 226px 150px 199px 190px;
    }
    /*td{
        font-weight: 18px;
    }*/
}

/*tablet*/
@media(min-width:830px) and (max-width:1399px){

}

/*mobile*/
@media(min-width:375px) and (max-width:879px){

}



/* #### still working on,not complete ####*/